
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
1. Allgemein
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
	






/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
2. Anpassungen
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.abstand{
    margin-top: 10%;
}

/**
.col-sm-6{

  padding-right: 5px;
  padding-left: 5px;
}
**/

.row {
  margin-right: 5%;
  margin-left: 5%;
}

#bild1{
    width: auto;
    height: auto;
}
#google_maps{
    box-shadow: 0px 0px 30px #000000;
}

table, th, td{
	padding:1px 16px;
    border: 2px solid black;
	white-space:nowrap;

}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
3. Navbar
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.navbar-default {
	background-color: darkblue;
   
	border-color: transparent;
    color: floralwhite;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
    
	color: #fec503;
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}

/* Button wenn navbar kleiner wird */
.navbar-default .navbar-toggle {
	background-color: blue;
	border-color: blue;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: silver;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: #fed136;
    border-color: #fed136;
}
.navbar-default .nav li a {
	font-family: "Roboto",sans-serif;
	/*Groß und klein Schreibung */
    text-transform: capitalize;
	font-weight: 600;
	letter-spacing: 1px;
	color: floralwhite;
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	color: #fed136;
	
    background-color: rgba(0,0,0,0.3);
}

.navbar-brand{
    float: right;